.letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 4px solid #3a3a3c;
    margin-left: 8px;
    margin-top: 8px;
    box-sizing: border-box;
}

.letter::before {
    content: '';
    padding-bottom: 100%;
}

.letter > p {
    font-size: 2rem;
    font-weight: bold;
}
